DATABASE_CONNECTION_URL=mongodb+srv://user:password@cluster0.tazhhyg.mongodb.net/platform
SESSIONS_SECRET=some_session_secret
APPLICATION_ORIGIN=https://localhost:5173
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
AUTH_DOMAIN=localhost:5173
COOKIE_DOMAIN=localhost
CRYPTO_COMPARE_API_URL=https://min-api.cryptocompare.com/data
CRYPTO_COMPARE_API_KEY=123
DISABLE_CRON_JOBS=false
PORT=3000
